/* Hide the default cursor globally */
* {
  cursor: none; /* Disables the main cursor */
}

/* Custom cursor styling */
.custom-cursor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  position: fixed;
  pointer-events: none;
  z-index: 9999; /* Ensure it is on top of everything */
  mix-blend-mode: difference; /* Ensure text behind it is visible */
  transition: transform 0.2s ease, background-color 0.2s ease, width 0.2s ease, height 0.2s ease;
  transform: translate(-50%, -50%); /* Center the cursor */
}

/* Cursor style when hovering over links or interactive elements */
.custom-cursor.hovered {
  background-color: white;
  /* width: 20px;
  height: 20px; */
  transform: translate(-40%, -40%) scale(0.5);
}

/* Links and interactive elements should not show a system cursor */
a, .hover-target {
  position: relative;
  cursor: none;
}
