.contactSecMain{
    padding: 15vw 0;
    display: grid;
    gap: 0.4vw;

}
.contactPara{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    font-size: 3.7vw;
    font-weight: 600;

    color: #054a80;
    
}
.contactPara2{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.3vw;
    font-size: 2.2vw;
    font-weight: 400;
    /* padding: 50px 0; */
}

/* button css  */
.contactSecBtn{
    margin: 1.6% 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 1.8vw;
    padding-top: 0.5vw;

}

/* first BUTTON  */
.btn-95 {
    position: relative;
    /* font-size: 1.2em; */
    font-size: 1.3vw;
    height: 4.7vw;
    /* padding: 0.7em 1.4em; */
    padding: 0 1vw;
    background-color: #343030; /* Red color */
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #FFFFFF; /* Changed text color to white for better contrast */
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.2); /* Slightly lighter shadow */
    transition: background-color 0.3s, box-shadow 0.3s; /* Add transition for hover effects */
    cursor: pointer;
}

.btn-95::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, #ffffff 50%, #054a80 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2); /* Lighter shadow */
    transition: 0.3s;
}

.btn-95:hover::before {
    width: 1.6em;
    height: 1.6em;
}

.btn-95:hover {
    background-color: #000000; /* Darker shade of red on hover */
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.btn-95:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.4); /* Darker shadow on active */
    transform: translate(0.1em, 0.1em);
}

/* SECOND BUTTON  */
.btn-96,
.btn-96 *,
.btn-96 :after,
.btn-96 :before,
.btn-96:after,
.btn-96:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-96 {
  -webkit-tap-highlight-color: transparent;
 
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1.3vw;
  line-height: 1.5;
  margin: 0;
  padding: 1% 7%; 
  height: 4.5vw;
  perspective: 800px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
}

.btn-96:disabled {
  cursor: default;
}

.btn-96:-moz-focusring {
  outline: auto;
}

.btn-96 svg {
  display: block;
  /* vertical-align: middle; */
}

.btn-96 [hidden] {
  display: none;
}

.btn-96 span {
    background-image: linear-gradient(90deg, #054a80, #000);
  color: #ffffff;
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transform: rotateX(0deg);
  transform-origin: top center;
  transition: 0.2s;
}

.btn-96:hover span {
  transform: rotateX(35deg);
}

.btn-96:after,
.btn-96:before {
  background: #ddd;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateX(0deg);
  width: 100%;
  z-index: -1;
}

.btn-96:after {
  background: #ccc;
  width: 0;
}

.btn-96:hover:after {
  animation: progress-bar 1.2s;
}

@-webkit-keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }

  10% {
    opacity: 1;
    width: 15%;
  }

  25% {
    opacity: 1;
    width: 25%;
  }

  40% {
    opacity: 1;
    width: 35%;
  }

  55% {
    opacity: 1;
    width: 75%;
  }

  60% {
    opacity: 1;
    width: 100%;
  }

  to {
    opacity: 0;
    width: 100%;
  }
}

@keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }

  10% {
    opacity: 1;
    width: 15%;
  }

  25% {
    opacity: 1;
    width: 25%;
  }

  40% {
    opacity: 1;
    width: 35%;
  }

  55% {
    opacity: 1;
    width: 75%;
  }

  60% {
    opacity: 1;
    width: 100%;
  }

  to {
    opacity: 0;
    width: 100%;
  }
}
