
.headingBigMain{
    margin: 6vw;
    text-wrap: wrap;
    font-size: 6vw;
    font-weight: 1000;
    line-height: 7vw;
    letter-spacing: -0.2vw;
    /* width: 40vw; */
}
.upperHeadingBig p:nth-child(1){
    
    padding-right: 2vw;
    font-size: 10vw;

    -webkit-text-fill-color: transparent;
    background-image: url('/public/Images/heroTextBackground/herobg.jpg');
    background-position: 50%;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
    -webkit-background-clip: text;
    background-clip: text;
}

.upperHeadingBig{
    display: flex;
    gap: 0.4vw;
    color: aliceblue;
}
.lowerHeadingBig{
    display: flex;
    gap: 0.8vw;
    color: aliceblue;

}