.homeCardComponent{
    display: flex;
    width: 100vw;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 8vw;
}
@media (max-width: 768px){
    .homeCardComponent{
        display: grid;
        justify-content: center;
        align-items: center;
    }
}