
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{   
  text-wrap: nowrap;
  font-family: "DM Sans", sans-serif;
  margin-top: 90px;
  overflow-x: hidden;
  /* background-color: #121212; */

}

